.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  place-items: center;
}

.month {
  margin: 10px;
  height: max-content;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

td {
  padding: 3px;
}
i {
  color: red;
}

.passed {
  color: lightgrey;
}

.goals {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

th {
  width: 20px;
  font-size: 12px;
}
td {
  height: 20px;
  text-align: center;
  font-size: 11px;
}

.strikethrough {
  position: relative;
  display: inline-block;
}

.strikethrough::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease-in-out;
}

.strikethrough.struck::after {
  width: 100%;
}

.time-pie-chart {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: conic-gradient(
    lightblue 0% 25%,
    gold 25% 34%,
    lightpink 34% 69%,
    gold 69% 95%,
    lightblue 95% 100%
  );
}
.legend {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.legend-color.sleep {
  background-color: lightblue;
}
.legend-color.freetime {
  background-color: gold;
}
.legend-color.work {
  background-color: lightpink;
}
