.header {
    display: grid;
    place-items: center;
}

.month {
    margin: 10px;
}

h1 {
    font-family:Arial, Helvetica, sans-serif
}

td {
    padding: 3px;
}
i {
    color: red;
}

.passed {
    color: lightgrey;
}

.goals {
    display: grid;
    place-items: center;
}